html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background:#000;
}

#street-view {
  height: 100%;
  opacity:0.5;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 100%;
  position: absolute;
  background-color: rgb(229, 227, 223);
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
    position: relative;
    z-index: 99;
    display: inline-block;
}
#hero{
    height: 100vh;
    opacity:1;
    position: relative;
}
.nav_logo {
    max-width: 90px;
    margin: 15px;
}
.hero_message {
    position: relative;
    z-index: 2;
    max-width: 300px;
    margin: 25px;
    display: flex;
}
.hero_message h1 {
    color: #fff;
    font-weight: lighter;
}
.fade-in {
    opacity: 1;
  }
#and_contact {
      bottom: 10px;
      z-index: 6;
      max-width: 300px;
      margin: 25px;
      display: block;
      position: absolute;
  }

section{
  min-height:900px;

}
.videos{
  background:#efefef;
  position: relative;
}

/* - Sidebar Navigation  -*/

#main_nav{
    margin-left: 0px;
    position: absolute;
    float: right;
    right: 25px;
    z-index: 2;
    top: 10px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    margin-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
      top: 0;
      right: 25px;
      font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
